[submodule "NetCoreServer"]
	path = NetCoreServer
	url = https://github.com/chronoxor/NetCoreServer.git
[submodule "Packets"]
	path = Packets
	url = https://github.com/marikuana/Packets.git
	branch = master
[submodule "GameServerData"]
	path = GameServerData
	url = https://github.com/marikuana/GameServerData.git
